@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html[lang="en"] {
    font-family: var(--font-geist-sans), system-ui, -apple-system, sans-serif;
  }

  html[lang="fa"] {
    font-family: var(--font-vazirmatn), Tahoma, system-ui, sans-serif;
  }

  body {
    min-height: 100%;
  }
}
